<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
            </h1>
        </div>
    </header>

    {{!-- Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item" data-tab="attributes">Attributes</a>
        <a class="item" data-tab="skills">Skills</a>
        <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <h2>Attributes</h2>
            <!-- Basic content for testing -->
            <p>Attributes will go here</p>
        </div>
        <div class="tab skills" data-group="primary" data-tab="skills">
            <h2>Skills</h2>
            <p>Skills will go here</p>
        </div>
        <div class="tab description" data-group="primary" data-tab="description">
            <h2>Description</h2>
            <p>Description will go here</p>
        </div>
    </section>
</form>
