<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
            </h1>
        </div>
    </header>

    {{#if (eq item.type "skill")}}
    <div class="form-group">
        <label>Area</label>
        <select name="system.area">
            {{selectOptions SKILL_AREAS selected=system.area}}
        </select>
    </div>

    <div class="form-group">
        <label>Governing Attribute</label>
        <select name="system.governing">
            {{selectOptions ATTRIBUTES selected=system.governing}}
        </select>
    </div>

    <div class="form-group">
        <label>Difficulty</label>
        <select name="system.difficulty">
            {{selectOptions DIFFICULTIES selected=system.difficulty}}
        </select>
    </div>

    <div class="form-group">
        <label>Success Number</label>
        <input type="text" name="system.successNumber" value="{{system.successNumber}}" disabled/>
    </div>

    <div class="form-group">
        <label>Description</label>
        {{editor system.description target="system.description" button=true owner=owner editable=editable}}
    </div>

    <div class="form-group specializations">
        <label>Specializations</label>
        <div class="specialization-list">
            {{#each system.specializations as |spec index|}}
            <div class="specialization-item flexrow" data-index="{{index}}">
                <input type="text" name="system.specializations.{{index}}" value="{{spec}}"/>
                <button type="button" class="specialization-remove">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
            {{/each}}
        </div>
        <button type="button" class="specialization-add">
            <i class="fas fa-plus"></i> Add Specialization
        </button>
    </div>
    {{/if}}
</form>
